# Dependencies
node_modules/
npm-debug.log

# Reports & Logs
reports/*.html
reports/*.json
reports/*.xml
reports/*.yaml
logs/

# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Environment Variables & Secrets
.env
*.pem
*.key
*.cert
secrets.json
